@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;1,800&display=swap');
:root {
    --pr-color: #93C5FD;
    --dark-blue: #091931;
    --off-white: #f9fbfd;
    --primary-color: #8747f0;
    --secondary-color: #eb55ac;
}

body {
    font-family: 'Andada Pro', serif;
}

button {
    background-color: var(--pr-color);
    border-color: var(--dark-blue);
    color: var(--off-white);
    border-radius: 0.5rem;
    display: block;
    max-width: 350px;
    width: 150px;
    margin: 1rem;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

.primary-button {
    background-color: var(--primary-color);
}

.secondary-button {
    background-color: var(--secondary-color);
}